
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'home'}}  Home {{/link-to}}</li>
        <li>{{#link-to 'entradas'}}  Entradas {{/link-to}}</li>
        <li>{{#link-to 'comidas'}}  Comidas {{/link-to}}</li>
        <li>{{#link-to 'postres'}}  Postres {{/link-to}}</li>
        <li>{{#link-to 'cargar-receta'}}  Cargar tu propia Receta {{/link-to}}</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>



{{outlet}}
