
  <div class = img>
  <img src = "imagenes/homeImage.jpg" >
</div>
<div class="container">
<div class = "contenedor">
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-12">
        <div class="fondo">
          <h1>La comida que buscas para el momento que buscas</h1>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{{outlet}}
